html,body{
	margin: 0;
	padding: 0;
}
body{
	background: #fff;
	font-size: 25px;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.box{
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
}
.header{
	background: #fff;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 5px dashed #000;
}
.header .logo{
	max-width: 300px;
	height: 60px;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 10px;
	font-weight: 400;
	font-size: 1.6rem;
	overflow: hidden;
}
.header .logo-text{
	margin-left: 10px;
	margin-right: 10px;

}
.menu{
	max-height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color:orange;
	margin: 5px 0;
	padding-left: 10px;
}
.menu a{
	margin-right: 5px;
	font-size: 1.2rem;
	color: #000;
}
.menu a:hover{
	color: blue;
}
.boxmain{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 320px;
}
.main{
	padding: 10px;
}
.main h1{
	font-size: 1.8rem;
	font-weight: 400;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 10px;
}
.main p{
	font-size: 18px;
	line-height: 35px;
}
.main-content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: relative;
	gap: 10px;
}
.card-info{
	overflow: hidden;
	max-height: 180px;
	border-radius: 10px;
	min-height: 180px;
	padding: 7px;
	border: 2px dashed #000;
}
.card-info a{
	display: flex;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	min-height: 180px;
	max-height: 180px;
}
.card-info .card-img{
	overflow: hidden;
}
.card-info .card-img img{
	width: 100%;
	height: 100%;
	min-height: 180px;
	transition: all 0.9s ease;
}
.card-info .card-img h2{
	position: absolute;
	top: 105px;
	left: 0px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	font-size: 18px;
	padding: 5px;
	height: 38px;
	overflow: hidden;
	transition: all 0.5s ease;
}
.card-info a:hover img{
	opacity: 0.7;
}
.card-info a:hover h2{
	background: rgba(0, 0, 0, 0.8);
}
.sidebar{
	background: rgba(154, 149, 167, 0.5);
	border-radius: 10px;
	padding: 10px;
}
.sidebar h3{
	font-size: 20px;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	text-decoration: underline;
}
.sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar ul li{
	display: flex;
	margin: 0;
	padding: 0;
}
.sidebar a{
	text-decoration: none;
	display: flex;
	padding: 2px;
}
.sidebar a img{
	border-radius: 4px;
}
.wpp-post-title{
	justify-content: center;
	align-items: start;
	font-size: 20px;
	overflow: hidden;
	height: 50px;
}
.sidebar .cat-item{
	font-size: 18px;
	margin-top: 4px;
	display: flex;
}
.sidebar .cat-item a{
	display: flex;
}
.footer{
	margin-top: 20px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
	border-top: 5px dashed #000;


}
.footer a{
	text-decoration: none;
	color: #000;
	margin-right: 15px;
}
.footer a:hover{
	color: #fff;
}